.card {
    width: 272px;
    display: flex;
    flex-direction: column;
    cursor: pointer;
}

.price_block {
    display: flex;
    padding-top: 4px;
    padding-bottom: 4px;
    gap: 8px;
    width: 100%;
    justify-content: center;
}

.image {
    width: 100%;
    height: 120px; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.name_block {
    width: 100%;
    height: 48px; 
    display: flex;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
}