.profile_page {
    display: flex;
    width: 100%;
    padding: 120px 20px 0px 20px;
    gap: 60px;
}

.navigation_block {
    display: flex;
    flex-direction: column;
    width: 320px;
}

.navigation {
    display: flex;
    flex-direction: column;
}

.info {
    color: #8585AD;
}

.link {
    height: 64px;
    text-decoration: none;
    color: #8585AD;
    transition: color 0.3s ease;
}

.active_link {
    color: #F2F2F3;
}

.link:hover {
    color: #F2F2F3;
}

.content {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.exit {
    height: 64px;
    text-decoration: none;
    color: #8585AD;
    transition: color 0.3s ease;
    cursor: pointer;
}

.exit:hover {
    color: #F2F2F3;
}