.register_page {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: calc(100vh - 88px);
    justify-content: center;
}

.register_block {
    display: flex;
    flex-direction: column;
    width: 480px;
    height: 430px;
    margin-left: auto;
    margin-right: auto;
    gap: 80px;
}

.register_block_title {
    display: flex;
    width: 100%;
    justify-content: center;
}

.register_block_btn {
    display: flex;
    width: 100%;
    justify-content: center;
}

.inputs_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: fit-content;
    gap: 24px;
}

.links_block {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 16px;
    justify-content: center;
}

.text {
    color: #8585AD;
    width: 100%;
    text-align: center;
}

.link {
    color: #4C4CFF;
    text-decoration: none;
}