.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1C1C21;
  padding: 20px;
  border-radius: 10px;
  z-index: 10;
}

.closeBtn {
  /* position: absolute;
  top: 0;
  right: 0;
  margin-top: 60px;
  margin-right: 40px; */
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  outline: none;
}

.modal_header_row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}