.order_component {
    display: flex;
    flex-direction: column;
    background: #1C1C21;
    border-radius: 40px;
    padding: 24px;
    gap: 24px;
}

.intext_color {
    color: #8585AD !important;
}

.title {
    display: flex;
    justify-content: space-between;
}

.info {
    display: flex;
    justify-content: space-between;
    gap: 24px;
}

.ingredients {
    display: flex;
}

.ingredient {
    display: flex;
    width: 64px;
    height: 64px;
    justify-content: center;
    align-items: center;
    background: red;
    border: 3px solid #1C1C21;
    border-radius: 100%;
    margin-left: -20px;
    position: relative;
}

.ingredient:nth-child(1) {
    margin-left: 0px;
    z-index: 6;
}

.ingredient:nth-child(2) {
    z-index: 5;
}

.ingredient:nth-child(3) {
    z-index: 4;
}

.ingredient:nth-child(4) {
    z-index: 3;
}

.ingredient:nth-child(5) {
    z-index: 2;
}

.ingredient:nth-child(6) {
    z-index: 1;
    filter: brightness(90%) contrast(70%);
}


.price {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}