.order_num {
    padding-top: 120px;
}

.idn_tex {
    padding-top: 32px;
}

.done_icon {
    padding-top: 60px;
}

.done_txt {
    padding-top: 60px;
}

.desc_txt {
    padding-top: 8px;
    padding-bottom: 120px;
    color: #8585AD;
}

.done_form {
    width: 720px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}