.ingridients_block {
    height: calc(100vh - 168px);
    width: 100%;
}

.ingridients_inner_block {
    height: 100%;
}

.ingridients {
    overflow-y: auto;
    height: fit-content;
    height: calc(100% - 196px);
}

.title_block {
    height: 196px;
}

.title {
    padding-top: 40px;
}

.tabs {
    padding-top: 20px;
    display: flex;
}

.item {
    padding: 60px;
}

.column {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 32px;
    padding-top: 24px;
    padding-bottom: 40px;
}

